.p-20{
    padding-left: 20px;
}
.card{
    padding: 10px 20px;
    background-color: antiquewhite;
    margin:10px;
    cursor: pointer;
 
}
.container{
    padding: 10px 20px;
    background-color: beige;
    margin:10px;
}
.buttonContainer>button{
    padding: 5px 10px;
    margin:5px;
    cursor: pointer;
}
.header{
    color: brown;
    cursor: pointer;
}
.header-disable{
    color: black;
    cursor: default;
}